@charset 'utf8';

@import "bourbon/bourbon";
@import "default";

#content {
  width: $default-width;
  margin: 0px auto 0px auto;
}

.executedCount {
  text-align: right;
}

.totalCount {
  text-align: right;
}

.coverage {
  text-align: right;
}
